<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cloudShare</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="body">
      <div class="blob1">
        <img src="images/blob1.svg" alt="" />
      </div>
      <div class="blob2"><img src="images/blob2.svg" alt="" /></div>
      <div class="blob3"><img src="images/blob3.svg" alt="" /></div>
      <div class="blob4"><img src="images/blob4.svg" alt="" /></div>

      <section class="upload-container">
        <div class="title">
          <h2>cloudShare</h2>
        </div>
        <div class="bottom">
          <div class="left">
            <form action="">
              <div class="drop-zone">
                <input type="file" id="fileInput" />
                <div class="text">
                  Drop your Files here or,
                  <span id="browseBtn" style="font-weight: 600">browse</span>
                </div>
              </div>
            </form>
            <div class="pr">
              <div class="circle"></div>
              <p>Uploading</p>
            </div>

            <div class="sharing-container">
              <p class="expire" style="font-size: 0.9rem">
                Link expires in 1 hour
              </p>

              <div class="input-container result">
                <input type="text" id="fileURL" readonly />
                <img src="images/copy.svg" id="copyURLBtn" alt="" />
              </div>

              <p class="email-info" style="font-size: 0.9rem">
                Or Send via Email
              </p>
              <div class="email-container">
                <form id="emailForm">
                  <div class="filed">
                    <label for="fromEmail" class="label" style="color: #393768"
                      >Your email</label
                    >
                    <input
                      type="email"
                      autocomplete="email"
                      required
                      name="from-email"
                      id="fromEmail"
                    />
                  </div>

                  <div class="filed">
                    <label for="toEmail" style="color: #393768" class="label"
                      >Receiver's email</label
                    >
                    <input
                      type="email"
                      required
                      autocomplete="receiver"
                      name="to-email"
                      id="toEmail"
                    />
                  </div>
                  <div class="sendBTN">
                    <button type="submit">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="right">
            <img src="images/character.svg" alt="" />
          </div>
        </div>
      </section>
    </div>

    <div class="toast">Sample message</div>
  </body>
  <script src="js/index.js"></script>
</html>
