:root {
  --container-width: 500px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  font-family: system-ui;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.upload-container {
  padding: 1rem;
  min-width: 82vw;
  min-height: 82vh;
}
.upload-container,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left,
.drop-zone {
  flex-direction: column;
}

.upload-container {
  background: #ffffff;
  border-radius: 25px;
  flex-direction: column;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px solid #393768;
  border-radius: 10px;
  margin: 30px;
  transition: 0.2s all ease-in;
}

/* will be added when user drags */
.drop-zone.dragged {
  border-color: #000;
}

.drop-zone input {
  display: none;
}

.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom;
}

.icon-container .center {
  z-index: 10;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .center {
  transform: translateY(-5px);
}
.dragged .right {
  transform: rotate(10deg) scale(0.9) translateX(20px);
}
.dragged .left {
  transform: rotate(-10deg) scale(0.9) translateX(-20px);
}

.title {
  font-size: large;
}

#browseBtn {
  color: #393768;
  font-weight: 500;
  cursor: pointer;
}

/* uploading progress styles */
.progress-container {
  border: 2px solid #393768;
  width: var(--container-width);
  height: 70px;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
  display: none;
}

.progress-container .inner-container {
  margin: 10px 15px;
  z-index: 2;
  position: absolute;
  width: calc(100% - 30px);
}

.progress-container .percent-container {
  font-size: 14px;
  margin: 5px;
  opacity: 0.7;
}

.progress-container .bg-progress {
  position: absolute;
  background: #393768;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 250ms linear;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-container .progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #393768;
  transition: transform 200ms linear;
  transform: scaleX(0);
  transform-origin: left;
}

/* sharing container style */
.sharing-container {
  margin-bottom: 1rem;
  width: #393768;
  border-radius: 10px;
  display: none;
}

.sharing-container p {
  text-align: center;
}

.sharing-container .expire {
  font-size: 16px;
  opacity: 0.7;
  margin-top: 0;
}

.sharing-container .input-container {
  width: 100%;
  margin-bottom: 1rem;
}
#copyURLBtn {
  cursor: pointer;
}
.sharing-container .input-container input {
  width: 90%;
  border-radius: 3px;
  padding: 10px 0;
  padding-left: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: #f5fcff;
  outline: hidden;
  color: #000;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background: #f5fcff;
}
.email-container form {
  border: 2px solid #393768;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container,
.send-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container label {
  margin: 5px;
  font-size: 18px;
}

.email-container input {
  border: none;
  border-bottom: 2px solid #393768;
  height: 19px;
  font-size: 18px;
  text-align: center;
}

.email-container input:focus {
  outline: none;
}

.email-container .filed {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.send-btn-container button {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 15px;
  margin-top: 15px;
  background: #393768;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.toast {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%, 100px);
  padding: 10px 20px;
  background: var(--light-blue);
  color: #000;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform ease-in-out 0.2s;
  z-index: 20;
}

.show.toast {
  transform: translate(50%, 0);
}

@media screen and (max-width: 900px) {
  :root {
    --container-width: 320px;
  }
  .image-vector {
    display: none;
  }
  .email-container .filed {
    flex-direction: column;
  }
  .email-container .filed {
    width: 300px;
  }
}
.blob1 img {
  position: absolute;
  top: -150px;
  z-index: -1;
  right: -20vw;
  height: 60vh;
  width: 60vw;
}
.blob2 img {
  position: absolute;
  bottom: -5vh;
  z-index: -1;
  right: -5vw;
  height: 30vh;
  width: 30vw;
}
.blob3 img {
  position: absolute;
  bottom: -35vh;
  z-index: -2;
  left: -40vw;
  height: 100vh;
  width: 100vw;
}
.blob4 img {
  position: absolute;
  top: -150px;
  z-index: -12;
  left: -20vw;
  height: 60vh;
  width: 60vw;
}
.body {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 82vw;
  z-index: 10;
  height: 82vh;
  box-shadow: 10px 10px 24px -6px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 10px 10px 24px -6px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 24px -6px rgba(0, 0, 0, 0.59);
}
.left {
  flex: 5;
  justify-content: center;
  align-content: center;
}
.right {
  flex: 3;
}
.right img {
  height: 60vh;
  width: 35vw;
}
.bottom {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.title {
  color: #9a91ea;
}
.title h2 {
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  z-index: 10;
}
